<form action="" method="post">
<div class="form-box">
   <div class="field"><div class="text">Title:</div> <input class="reginput" type="text" name="title"/></div>
   <div class="field"><div class="text">Text:</div> <textarea width="300px" height="300px" name="text"></textarea></div>
   <div class="field"><div class="text"></div><input type="submit" value="Send"/></div>
   </div>
</form>