<form action="" method="post">
<div class="form-box">
   <div class="field"><div class="text">Username:</div> <input class="reginput" type="text" name="username"/></div>
   <div class="field"><div class="text">Password:</div> <input class="reginput" type="password" name="pass" /></div>
   <div class="field"><div class="text"></div><input type="submit" value="Login"/></div>
   </div>
</form>
